$light-grey: #f5f5f5;
$white: #ffffff;

.main-container {
    background-color: #f5f5f5;
}

.sp-card {
    background-color: $white;
    .title {
        text-align: center;
        color: lightblue;
    }
}

.grey-back {
    background-color: $light-grey;
}

.filters {
    min-height: 200px;
    background-color: $white;
}

.launches {

}